<!-- Page Wrapper -->
<div
  style="
    background: url(https://i.postimg.cc/ZnHTP71s/aircraft-airplane-boat-1575833.jpg);
  "
  class="page-holder bg-cover"
>
  <div class="container py-5">
    <header class="text-center text-white py-5">
      <h1 class="display-4 font-weight-bold mb-4">
        welcome to new project by angular
      </h1>
      <p class="lead mb-0">Create by Ahmed Noaman</p>
    </header>
  </div>
</div>
<!-- <app-body></app-body> -->
<!-- <app-products></app-products> -->
<!-- <app-parent></app-parent> -->
